

#bookingBtn{
    box-sizing: border-box;
    font-size: .8em;
    width: 80px;
    height: 50px; 
    margin-right: 4px;
    background-color: #16131E  ;
    color: #C1BDBE ;
    border: 2px solid #C1BDBE;
    display: flex;
    align-items: center;
}

#empty {
    color: #C1BDBE;
    font-size: 1.5em;
}

#header {
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    color: #C1BDBE;
    margin: 2% 0;
    background-color: #16131E;
    /* border-bottom: 1px solid #C1BDBE; */
}

.pHeader {
    color: #C1BDBE;
    font-size: .8em;
    text-align: center;
    margin-bottom: 2%;
}

#wrapper {
    background-color: #16131E;
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;
    border: 1px solid #C1BDBE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    border-bottom: 1px solid #C1BDBE;
    color: #C1BDBE;
    text-align: right;
    width: fit-content;
}

.p {
    color: white;
    font-size: 1.4em;
    margin: 5px 0;
    /* background-color:  #C1BDBE; */
    /* text-align: right; */
    width: 100%;
    border-radius: 3px;
}

#datesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
}   

#bookingDiv {
    background-color: #1C2F3E;
    border-radius: 4px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1%;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;

}

#deleteDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#delete {
    background-color: #C1BDBE;
    color:  #16131E;
    border: 1px solid #16131E;
    height: 40px;
    width: fit-content;
    font-size: 1.5em;
}

#delete:hover {
    background-color: #16131E;
    color:  #C1BDBE;
    border: 1px solid #C1BDBE;
}

#bookingsDiv {
    position: relative;
    width: 90%;
    margin: 0 2%;
    padding: 1px;
    /* background-color: #C1BDBE; */
    border-radius: 4px;
    /* box-shadow: .5px .5px 0.625rem -2px #C1BDBE ; */

}

.closeBtn {
    background: none;
    color: #C1BDBE;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
}

.closeBtn:hover {
    color: #1C2F3E
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
}

/* @media screen and (max-width: 960px) {
    #bookingBtn {
        height: 75px;
        width: 80px;
    }
} */