#castleContainer {
    grid-area: rootitem;
    position: relative;
    top: 75px;
    width: 100%;
    max-width: 997px;
    display: grid;
    grid-template-rows: 10em 1fr 2fr auto auto;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
    '. head head .'
    '. img img . '
    '. ui ui .'
    '. RF RF .'
    '. review review .' ;  
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 5%;
    background-color: rgba(22,19,30, 0.2);
    border-radius: 10px;
    height: 83vh;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;
    border: 1px solid rgba(193,189,190, 0.1);
    overflow: auto;
    overflow-x: hidden;
}

#reviewFormDiv {
    grid-area: RF
}

#reviewsDiv {
    grid-area: review
}

#bookingForm {
    width: 100%;

}

#underImgDiv {
    grid-area: ui;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    max-width: 736px;
}

#info {
    margin: 1px;
    box-sizing: border-box;
    margin-bottom: 0;
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    height: 17vh;
    background-color:rgba(22,19,30, 1);
    border: 1px solid #16131E ;
    border-radius: 5px 5px 0 0;
    color: #C1BDBE;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    font-size: .8em;
    box-shadow: 1px 0px 1rem -2px #1C2F3E ;
    padding: 10px;
}

#header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5px;
    font-size: 2.5em;
    padding: 0;

}

#headTop {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#title {
    border-bottom: 1px solid #16131E;
}

#headBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

#price {
    font-size: 1.5em;
    white-space: nowrap;
}

#location {
    font-size:  1.5em;
    text-align: right;
    white-space: nowrap;
}

#imgContainer {
    grid-area: img;
    position: relative;
    width: 100%;
    max-width: 1180px;
    display: inline-block;
    height: auto;
}

.img {
    width: 100%;
    max-width: 736px;
    height: auto;
    border-radius: 20px;
    border: 1.7px solid #C1BDBE;
    background-color: #C1BDBE;
    box-shadow: 1px 1px 1rem -2px #1C2F3E ;

}

#formDiv {
    margin: 2px;
    padding: 3px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

#formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    position: relative;
    margin-bottom: 10px;

    top: 1px;
    width: 97.5%;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-shadow: 1px 1px 1rem -2px #1C2F3E ;
}

/* @media screen and (max-width: 1220px) {
    #underImgDiv {
        flex-direction: column;
    }

    #formWrapper {
        width: 97.5%;
        border-radius: 0 0 5px 5px;
        height: fit-content;
        flex-direction: row-reverse;
        margin-bottom: 10px;
    }

    #formDiv {
        width: 30%;
    }

    #info {
        border-radius: 5px 5px 0 0;
    }
    
} */

/* @media screen and (max-width: 960px) {
    #castleContainer {
        position: relative;
        height: 77vh;
        top: 150px;
        margin: 2%;
        
    }

    
} */
