#castlesContainer {
    grid-area: rootitem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 0px;
    padding-top: 20px;
    margin-top: 30px;
    height: 95vh;
}

.btnContainer {
    margin: 45%;
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 2em;
    text-align: center;
    width: max-content;
}

.navBtns {
    width: auto;
    box-sizing: border-box;
    margin: 1%
}

#spots {
    margin-top: 1%;
    height: fit-content;
    margin-bottom: 50px;
    overflow: auto;
    position: relative;
    top: 0;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;
    border: 1px solid rgba(193,189,190, 0.1);
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
   
}
@media screen and (max-width: 481px) {
   
}
@media screen and (max-width: 376px) {
    #spots {
        width: 90vw;
        display: flex;
        align-items: flex-start;
        padding: 1px;
    }
   
}
@media screen and (max-width: 330px) {
}

