#castleContainer {
    grid-area: rootitem;
    max-width: 1180px;
    position: relative;
    
    width: 100%;
    display: grid;
    grid-template-rows: 10em 1fr 2fr auto;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
    '. head head .'
    '. img img . '
    '. desc form .'
    '. . . .';    
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 0;
    background-color: rgba(22,19,30, 0.2);
    border-radius: 10px;
    height: 85vh;
    max-width: 100%;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;
    border: 1px solid rgba(193,189,190, 0.1);
    overflow: scroll;
    overflow-x: hidden;
}

#formDiv {
    grid-area: form;
    margin: 2px;
    padding: 3px;
    height: fit-content;
    background-color:#C1BDBE;
}

#bookingForm {
    width: 100%;

}

#info {
    grid-area: desc;
    margin: 1px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color:rgba(22,19,30, 1);
    border: 1px solid #16131E ;
    border-radius: 5px;
    color: #C1BDBE;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: .8em;
    box-shadow: 1px 1px 1rem -2px #1C2F3E ;

}

#header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5px;
    font-size: 2.5em;
    padding: 0;
}

#headTop {
    height: auto;
    width: fit-content;
}

#title {
    border-bottom: 1px solid #16131E;
}

#headBottom {
    display: flex;
    justify-content: space-between;
}

#price {
    font-size: .5em;
    white-space: nowrap;
}

#location {
    font-size: .7em;
    text-align: right;
    white-space: nowrap;
}

#imgContainer {
    grid-area: img;
    position: relative;
    width: 100%;
    max-width: 1180px;
    display: inline-block;
    height: auto;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1.7px solid #C1BDBE;
    background-color: #C1BDBE;
    box-shadow: 1px 1px 1rem -2px #1C2F3E ;

}


