body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    width: 95%;
    border: none;
    border-bottom: 1px solid #16131E  ;
    margin: 3px;
    margin-bottom: 10px;
    margin-top: 0;
    height: 30px;
}

label {
    width: 100%;
    padding: 1px;
    margin: 1px;
    font-weight: bold;
}

ul {
    margin-left: 2rem;
    list-style-type: circle;
}

li {
    padding: 3px 0px;
    margin: 5px 0px;
    text-decoration: none;
}

.deleteBtn, .editReviewBtn {
    font-size: 2.5em;
    margin: 2px;
}

#loginBtnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
}

.navLink:hover { 
    background-color: #16131E  ;
    color: #C1BDBE ;
}
.navLink {
    position: relative;
    font-family: Cinzel;
    text-decoration: none;
    background-color: #C1BDBE ;
    color: #16131E ;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    height: 80%;
    width: fit-content;
    display: flex;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
    font-size: 1.5em;
}

.header {
    text-align: center;
    padding: 20px 0px;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 5px;
    color: #C1BDBE;

}

.formDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    '. . .' '. form .';
    position: absolute;
    top: -300px;
    width: 100%;
    margin: 0;
    justify-items: center;
    
}

.form {
    position: relative;
    grid-area: form;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px inset solid #C1BDBE ;
    width: 650px;
    height: fit-content;
    padding: 20px;
    margin: 4em;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #16131E ;
    background-color: #1C2F3E;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.submitBtn {
    width: 75%;
    background-color: #16131E;
    color: #C1BDBE;
    font-weight: 800;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    border: none;
    margin: 2%;
}

.submitBtn:hover {
    background-color: #C1BDBE;
    color: #16131E;

}

.errors {
    color: red;
    display: flex;
    
    flex-wrap: wrap;
    width: 350px;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.closeBtn {
    background: none;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
}

.closeBtn:hover {
    background: none;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    .navLink {
        width: fit-content;
        height: 5vh;
        font-size: 1em;
        white-space: nowrap;
    }

    .form {
        top: -10%;
        width: 70vw;
        height: fit-content;
        padding: 50px;
    }

    .inputs {
        width: 95%;
        margin: 2%;
    }

    label {
        font-size: 1em;
    }

    .header {
        padding: 0;
        margin: 5%;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 481px) {
    .navLink {
        width: fit-content;
        height: 5vh;
        font-size: .8em;
        white-space: nowrap;
    }

    .form {
        top: 20%;
        width: 80vw;
        height: fit-content;
        padding: 10px;
    }

    .inputs {
        width: 95%;
        margin: 2%;
    }

    label {
        font-size: .8em;
    }

    .header {
        padding: 0;
        margin: 5%;
        font-size: 1em;
    }
    
}
@media screen and (max-width: 376px) {
    .navLink {
        width: fit-content;
        height: 5vh;
        font-size: .8em;
        white-space: nowrap;
    }

    .form {
        top: 10%;
        width: 80vw;
        height: fit-content;
        padding: 20px;
    }

    .inputs {
        width: 95%;
        margin: 2%;
    }

    label {
        font-size: .8em;
    }

    .header {
        padding: 0;
        margin: 5%;
        font-size: 1em;
    }
}