ol {
    width: 100%;
    padding: 0;
    margin: 10;
    display: flex;
    list-style-type: none;
    /* color: white; */
    align-self: center;
}

.btn {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

p {
    font-size: 2em;
    margin: 0 3px;
}

#siteName{
        display: flex;
        grid-area: name;
        font-size: 3em;
}

#home, #castles {
    height: 30px;
    width: auto;
    font-size: 2em;
    text-align: left;
    margin: 1px;
}

#home:hover, #castles:hover {
    background-color: #16131E  ;
    color: #CED7E8 ;
}

.navLink:hover { 
    background-color: #16131E  ;
    color: #CED7E8 ;
}
.navLink {
    font-family: Cinzel;
    margin: 2px;
    margin-left: 10px;
    text-decoration: none;
    background-color: #CED7E8 ;
    color: #16131E ;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: auto;
    display: flex;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
}

#signup {
    display: grid;
    grid-area: auth;
    white-space: nowrap;
}

#login {
    display: grid;
    grid-area: auth;
    white-space: nowrap;
}

#dropdownDiv {
    display: flex;
    justify-content: flex-end; 
    margin-right: 10px;       
}

.nav {

    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    display: grid;
    align-items: center;
    /* grid-template-rows: 50% 50%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'home name auth';
    color: #C1BDBE ;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #1C2F3E;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #16131E ;
}

.navContainer {
    width: 100vw;
    height: 10vh;
}

.navDropdown{
    position: absolute;
    left: 3px;
    top: 70px;
    background-color: #1C2F3E  ;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #1C2F3E ;
    padding: 10px;
    margin: 5px;
    font-size: .8em;
    width: 250px;
    border: 1px solid #C1BDBE;  
    border-radius: 5px;
}

.homeSpan, .authSpan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.authSpan {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.homeSpan {
    padding-left: 10px;
}

.weirSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}



.activeNav {
    background-color: #16131E ;
    color: #CED7E8; 
}

#authBtns {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}



@media screen and (max-width: 960px) {

    #authBtns {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .homeSpan {
        grid-area: home;
        justify-content: flex-start;
    }

    .authSpan {
        grid-area: auth;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .homeSpan, .authSpan {
        height: 60px;
        display: flex;
        width: 50%
    }

    #siteName {
        font-size: 3em;
        margin-right: 30px;
    }

    #home, #castles, #logout, #profile {
        height: auto;
        width: auto;
        font-size: 3.5em;
    }

    #signup, #login {
        height:auto;
        width: auto;
        font-size: 2em;
    }

    #authBtns {
        margin: 1px;
        width: 140px;
        flex-direction: column;
    }

    .navLink {
        margin: 3px;
        text-align: center;
    }

    .nav {
        margin: 0;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        
    }

    #dropdownDiv {
        display: flex;
        justify-content: flex-end; 
        margin-right: 10px;       
    }

    #siteName {
        height: 100px;
        font-size: 4.5em;
    }

    .navDropdown {
        top: 120px;
    }
}

/* @media screen and (max-width: 580px) {

    .nav {
        height: 275px;
        width: 100%;
        min-width: 320px;
        position: sticky;
        right: 0;
    }

    .homeSpan {
        position: relative;
        top: -40px;
    }

    .authSpan {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
    }

    #home, #login, #signup {
        width: 15em;
        height: 2em;
        margin: 1px;
        text-align: center;
        
    }
} */