ol {
    width: 100%;
    padding: 0;
    margin: 10;
    display: flex;
    list-style-type: none;
    /* color: white; */
    align-self: center;
}

button {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

p {
    font-size: 2em;
    margin: 0 3px;
}

#siteName{
        display: grid;
        grid-area: name;
        font-size: 3em;
}

#home, #castles {
    display: grid;
    grid-area: home;
    height: 30px;
    width: auto;
    font-size: 2em;
    text-align: left;
    margin: 1px;
}

#signup {
    display: grid;
    grid-area: signup;
    white-space: nowrap;
}

#login {
    display: grid;
    grid-area: login;
    white-space: nowrap;
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    background-color: rgb(204, 204, 204);
    justify-content: space-between;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #310d12;
}

.navContainer {
    width: 100%;
    
}

.navDropdown{
    position: absolute;

    left: 1px;
    top:67px;
    background-color: #ebebeb;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #310d12;
    padding: 10px;
    margin: 5px;
    font-size: .8em;
    width: 250px;
}

.homeSpan, .authSpan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.authSpan {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.homeSpan {
    padding-left: 10px;
}

.weirSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navLink {
    font-family: Cinzel;
    margin-left: 10px;
    text-decoration: none;
    background-color: #ce3a4e;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: auto;
    display: flex;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
}

.activeNav {
    background-color: #ab2a3c;
}



@media screen and (max-width: 960px) {

    

    .homeSpan {
        grid-area: home;
        justify-content: flex-start;
    }

    .authSpan {
        grid-area: auth;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .homeSpan, .authSpan {
        height: 60px;
        display: flex;
        width: 50%
    }

    #siteName {
        font-size: 3em;
        margin-right: 30px;
    }

    #home {
        height: auto;
        width: auto;
        font-size: 3.5em;
    }

    #signup {
        height: 50px;
        width: auto;
        font-size: 2em;
    }

    #login {
        height: 50px;
        width: auto;
        font-size: 2em;
    }

    #profile {
        height: auto;
        width: auto;
        font-size: 4em;
    }

    .nav {
        margin: 0;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        /* display: grid;
        align-items: center;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        grid-template-areas: 
        'home ' ' auth'; */
    }

    #siteName {
        height: 100px;
        font-size: 4.5em;
    }

    .navDropdown {
        top: 120px;
    }
}

@media screen and (max-width: 580px) {

    .nav {
        height: 275px;
        width: 100%;
        min-width: 320px;
        position: sticky;
        right: 0;
    }

    .homeSpan {
        position: relative;
        top: -40px;
    }

    .authSpan {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
    }

    #home, #login, #signup {
        width: 15em;
        height: 2em;
        margin: 1px;
        text-align: center;
        
    }
}