ol {
    width: 100%;
    padding: 0;
    margin: 10;
    display: flex;
    list-style-type: none;
    /* color: white; */
    align-self: center;
}

.btn {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

p {
    font-size: 2em;
    margin: 0 3px;
}

#siteName{
        display: flex;
        grid-area: name;
        font-size: 3em;
        text-decoration: none;
        color: #C1BDBE ;

}

#home, #castles {
    height: 30px;
    width: auto;
    font-size: 2em;
    text-align: left;
    margin: 1px;
}

#home:hover, #castles:hover {
    background-color: #16131E  ;
    color: #C1BDBE ;
}

.navLink:hover { 
    background-color: #16131E  ;
    color: #C1BDBE ;
}
.navLink {
    font-family: Cinzel;
    margin: 2px;
    margin-left: 10px;
    text-decoration: none;
    background-color: #C1BDBE ;
    color: #16131E ;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: auto;
    display: flex;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
}

#signup {
    /* grid-area: auth; */
    white-space: nowrap;
}

#login {
    /* grid-area: auth; */
    white-space: nowrap;
}

#dropdownDiv {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    margin-right: 10px;       
}

.nav {

    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    display: grid;
    align-items: center;
    /* grid-template-rows: 50% 50%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'home name auth';
    color: #C1BDBE ;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #1C2F3E;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #16131E ;
}

.navContainer {
    width: 100vw;
    height: 10vh;
}

.navDropdown{
    position: absolute;
    left: 3px;
    top: 70px;
    background-color: #1C2F3E  ;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #1C2F3E ;
    padding: 10px;
    margin: 5px;
    font-size: .8em;
    width: 250px;
    border: 1px solid #C1BDBE;  
    border-radius: 5px;
}

.homeSpan, .authSpan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.authSpan {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.homeSpan {
    padding-left: 10px;
}

.weirSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}



.activeNav {
    background-color: #16131E ;
    color: #C1BDBE; 
}

#authBtns {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .nav {
        height: 9vh;
        
    }

    #siteName {
        font-size: 3em;
    } 
}
@media screen and (max-width: 481px) {
    .nav {
        height: 9vh;
        
    }

    #siteName {
        font-size: 2.5em;
    } 
}
@media screen and (max-width: 376px) {
    .nav {
        height: 9vh;
        
    }

    #siteName {
        font-size: 2em;
    } 
}
@media screen and (max-width: 330px) {
    .nav {
        height: 9vh;
        
    }

    #siteName {
        font-size: 1.5em;
    } 
}