.textAreaDiv {
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
}

.errors {
    color: rgb(255, 133, 133);
}

.li {
    margin: 5px;
    width: 95%;
    margin-left: 0;
}

ul {
    list-style-type: none;
}

#formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    width: 102.3%;
    height: 1.5em;
    font-size: 1.5em;
    padding: 2px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background-color: #16131E  ;
    color: #C1BDBE ;
    border: 2px solid #C1BDBE;
}

.submitBtn:hover {
    background-color: #C1BDBE;
    color: #1C2F3E;
    border-top: 2px solid #1C2F3E;
}

.header {
    text-align: center;
    margin: 25px auto 25px auto;
    font-size: 2.5em;
}


#textarea {
    position: relative;
    overflow-wrap: wrap;
    width: 100%;
    height: 175px;
    overflow: auto;
    border-radius: 5px 5px 0 0;
    resize: none;
    border: 3px solid #C1BDBE;
    border-bottom: 2px;
    background-color: rgba(193,189,190, .8);
    color: #16131E;
    font-size: 1.5em;
}

#reviewContainer {
    display: grid;
    margin: 3% 0;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'head'
    'body';
    border-top: 1px solid #16131E;
    max-height: 235px;
}

#reviewHead {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 5px;
}

#body {
    grid-area: body;
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    font-size: .8em;
    margin: 5px;
    overflow: auto;
    overflow-x: hidden;
    overflow-wrap: wrap;
    white-space: normal;
    color: #C1BDBE;
    background-color: rgba(22,19,30, 1);
    border-radius: 3px;
    max-height: 150px;
    box-shadow: 1px 0px 1rem -2px #1C2F3E ;

}

#udBtns {
    height: 1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: .6em;
    justify-content: flex-end;
    position: relative;
}

.udBtn {
    margin: 1.5px;
}

#username {
    font-size: 2em;
}

#date {
    font-size: 1.5em;
}