body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    width: 95%;
    border: none;
    border-bottom: 1px solid #16131E;
    margin: 3px;
    margin-bottom: 3px;
    margin-top: 0;
    height: 30px;
}

label {
    width: 100%;
    padding: 1px;
    margin: 1px;
    font-weight: bold;
}

ul {
    margin-left: 2rem;
    list-style-type: circle;
}

li {
    padding: 3px 0px;
    margin: 5px 0px;
    text-decoration: none;
}


.header {
    text-align: center;
    position: relative;
    top: -30px;
    padding: 20px 0px;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 1px;
}

.formDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        '. . .''. form .';
    position: absolute;
    top: 75px;
    width: 100%;
    margin: 0;
    justify-items: center;

}

.form {
    position: relative;
    grid-area: form;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px inset solid #C1BDBE;
    width: 650px;
    height: 650px;
    margin: 4em;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #16131E;
    background-color: #CED7E8;
}

.inputs {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.submitBtn {
    width: 75%;
    background-color: #1C2F3E;
    color: #C1BDBE;
    font-weight: 800;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    border: none;
}

.errors {
    color: red;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 350px;
    box-sizing: borderBox;
    justify-content: flex-start;
    padding-bottom: 30px;
}

@media screen and (max-width: 840px) {
    .formDiv {
        top: 150px;
    }

    .form {
        margin-top: 30px;
    }
}