#splashH1 {
    position: relative;
    top: 0px;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: auto;
    border-bottom: 1px solid #16131E ;
    white-space: nowrap;
}

#gm {
    width: 100%;
    text-align: right;
}

#header {
    grid-area: head;
    
}

#welcomeMsg {
    text-align:left;
    color: #16131E ;
    font-size: 1.8em;
    width: 800px;
    margin: 25px;
    padding: 15px;
    /* background-color:rgba( 206,215,232, 0.5); */
    border-radius: 5px;
    box-shadow: .2px .2px 0.3rem -2px #1C2F3E ;
    border: .5px solid rgba(22,19,30s, 0.1)

}

#welcome {
    grid-area: p;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(22,19,30, 0.2);
    border-radius: 10px;
    height: 675px;
    max-width: 875px;
    box-shadow: .5px .5px 0.625rem -2px #16131E ;
    border: 1px solid rgba(193,189,190, 0.1)

}

#spots {
    
    grid-area: spots; 
    position: relative;
    width: 100%;
    height: 420px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
}

.splashBody {
    display: grid; 
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    '. head .'
    '. p .';
    justify-items: center;
    /* align-items: center; */
    flex-direction: column;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 960px) {

    .splashBody {
        display: flex;
        justify-content: center;
    }

    #header {
        white-space: normal;
    }
    
    #welcomeMsg {
        width: 500px;
        margin-top: 5%;
    }

    #welcome {
        height: 70vh;
        width: 95vw;
        margin: 2%;
    }

    #splashH1 {
        
        margin-bottom: 2px;
        white-space: normal;
        width: 100%;
        text-align: right;
    }

    #header {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-right: 2%;
        margin-bottom: 3%;
    }

}

/* @media screen and (max-width: 580px) {
    .splashBody {
        position: absolute;
        top: 250px;
        display: grid; 
        grid-template-rows: 120px 120px auto;
        grid-template-columns: 1fr;
    }
} */

