/* TODO Add site wide styles */
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden;     */
}

button {
    background-color: #CED7E8   ;
    color: #16131E ;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: Cinzel;
    font-size: 2em;
    box-sizing: border-box;

}

button:hover {
    background-color: #16131E  ;
    color: #CED7E8 ;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 75px;
    bottom: -100px;
    background-image: linear-gradient(#C1BDBE ,#1C2F3E);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
    '. rootitem .';
}

h1, h2, h3 {
    font-family: Cinzel;
    margin: 0;
}

* {
    font-family: Raleway;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #C1BDBE ;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #C1BDBE ;
}

::-webkit-scrollbar-thumb
{
	background-color: #16131E ;
}

@media screen and (max-width: 960px) {
    #root {
        top: 150px;
    }
}


