/* TODO Add site wide styles */


body {
    margin: 0;
    padding: 0;
    /* overflow: hidden;     */
}

button {
    background-color: #ce3a4e;
    color: white;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: Cinzel;
    font-size: 2em;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 75px;
    bottom: -100px;
    background-image: linear-gradient(rgb(204, 204, 204),#c23f51);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    '. rootitem .';
}

h1, h2, h3 {
    font-family: Cinzel;
    margin: 0;
}

* {
    font-family: Raleway;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #310d12;
}

@media screen and (max-width: 960px) {
    #root {
        top: 150px;
    }
}


