label {
    font-family: Cinzel;
    margin-top: 3px;
    padding: 1px;
}

.userInfo {
    /* border-left: 1px solid black;
    border-top: 1px solid black; */
    background-color: #ebebeb;
    color: #310d12;
}

.profile-dropdown {
    position: absolute;
    right: 1px;
    background-color: #ebebeb;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #310d12;
    padding: 10px;
    margin: 5px;
    font-size: .8em;
}

#logout {
    height: 30px;
    width: 100%;
    font-size: 1em;
}

